// color
$pri: #73030D;
$sec: #A5803C;
$t: #5C5C5C;
$bl: #3C3C3E;
$wt: #FFF;

// font
$r: "Suisse Int'l Book", sans-serif;
$m: "Suisse Int'l Medium", sans-serif;
$b: "Suisse Int'l Bold", sans-serif;
$mr: "Museo 300", sans-serif;
$mm: "Museo 500", sans-serif;
$mb: "Museo 700", sans-serif;
