.about-wrap{
    padding: 30px 0 70px 0;
    @media screen and (max-width: 767px) { 
        padding: 15px 0 40px 0;
    }
    
    .board-item{
        margin-bottom: 20px;
        .image{
            display: inline-block;
            vertical-align: middle;
            width: 153px;
            height: 153px;
            border-radius: 50%;
            border: 3px solid #707070;
            background-color: #DBDBDB;
            margin-right: 35px;
            background-size: cover;
            background-position: center center;
            @media screen and (max-width: 767px) { 
                width: 100px;
                height: 100px;
                margin-right: 15px;
            }
        }
        .text{
            display: inline-block;
            vertical-align: middle;
            h5{
                font-size: 25px;
                font-family: $b;
                margin-bottom: 5px;
                @media screen and (max-width: 767px) { 
                    font-size: 18px;
                }
            }
            h6{
                font-size: 22px;
                margin: 0;
                @media screen and (max-width: 767px) { 
                    font-size: 16px;
                }
            }
        }
    }

    .charts{
        @media screen and (max-width: 991px) { 
            width: 550px;
            margin: 0 auto;
        }
        @media screen and (max-width: 767px) { 
            width: 100%;
        }
        .name{
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            h5{
                font-size: 19px;
                font-family: $mb;
                text-transform: uppercase;
                color: $pri;
                margin-bottom: 5px;
                @media screen and (max-width: 767px) { 
                    font-size: 16px;
                }
            }
            h6{
                font-size: 12px;
                color: $sec;
                margin-bottom: 20px;
                @media screen and (max-width: 767px) { 
                    font-size: 10px;
                    margin-bottom: 10px;
                }
            }
            &.small{
                min-height: 140px;
                @media screen and (max-width: 991px) { 
                    min-height: 120px;
                }
                @media screen and (max-width: 767px) { 
                    min-height: auto;
                }
                h5{
                    font-size: 15px;
                    @media screen and (max-width: 767px) { 
                        font-size: 14px;
                    }
                }
            }
        }
        .tri-branch{
            width: 76%;
            margin-bottom: 20px;
        }
        .div-wrap{
            background-image: url('/struktur-2.png');
            background-repeat: no-repeat;
            background-position: top left;
            .div-item{
                font-family: $mr;
                font-size: 12px;
                color: $pri;
                padding: 100px 0 0 32px;
                margin: 0;
                @media screen and (max-width: 1199px) { 
                    padding: 92px 0 0 20px;
                }
                @media screen and (max-width: 991px) { 
                    padding: 105px 0 0 20px;
                }
                @media screen and (max-width: 767px) { 
                    padding: 95px 0 0 20px;
                }
            }
            &.tre{
                background-image: url('/struktur-3.png');
            }
        }
    }
}